*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --star_wars_original_yellow: #ffe81f;
    --dark: black;
    --dropdown-bg-select-color: #2C3E50;
}

body {
    background-color: var(--dark);
    color: var(--star_wars_original_yellow);
}

ul {
    list-style-type: none;
   }

#banner-wrapper { 
    display: flex;
    width: 50vw;
    height:30.864vw; /* 50:30.864 is the image's aspect ratio */
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg);
    background-size: 100% auto; 
 }

@media screen and (max-width:51em) {
    #banner-wrapper {
        width: 80vw;
        height: 49.383vw;
    }
}

@media screen and (max-width:21em) {
    #banner-wrapper {
        width: 90vw;
        height: 55.555vw;
    }
}

#form-wrapper {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.character-planet-wrapper {
    display: flex;
}

@media only screen and (max-width:51em) {
    .character-planet-wrapper {
        flex-direction: column;
    }
  }

.char-ul, .planet-ul {
    font-size: xx-large;
}

.char-ul>li, .planet-ul>li {
    font-size: large;
}

.planet:hover {
    color: red
}

.planet {
    color:blue
}

/* Customization form-select START <==== */

select{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

/* arrow removal for IE */
select::-ms-expand {
    display: none;
}

#characters-list-form {
    min-width: 30ch;
    max-width: 40ch;
}

#characters-list-select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--star_wars_original_yellow);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--dropdown-bg-select-color);
    color: var(--star_wars_original_yellow);
}

#characters-list-select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--star_wars_original_yellow);
    clip-path: circle(50% at 50% 50%);
}
